.blog-link {
  color: black;
  &:hover {
    text-decoration: none !important;
  }
}

.blog-header {
    font-size: 7.5em;
    font-weight: bold;

    @include for-size(lg-device) {
      font-size: 6em;
      text-align: center;
      
    }
  }

  .white-bg {
    background-color: white;
  }

  .blog-landing {
    display: flex;
    //justify-content: center;
    //align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
  
    @include for-size(lg-device) {
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
}
  
  .blog-padding {
    padding-left: 10%;
    padding-right: 10%;

    @include for-size-at-landscape(lg-device) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @include for-size-at-landscape(medium-device) {
      padding-left: 10%;
      padding-right: 10%;
    }

    @include for-size(small-device) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  .blog-spotlight-img {
    height: 435px;
    width: 100%;
  }

  .img-radius-shadow {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .blog-spotlight-header {
    font-size: 3em;
    font-weight: bold;
  }
  
  .blog-spotlight-text {
    font-size: 1.565em;
  }

  .blog-spotlight-body {
    @include for-size(medium-device) {
      margin-top: 1rem;
      text-align: center;
    }
}

.img-radius{
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

  .blog-post-img {
    /*height: 300px;
    width: 100%;*/
    @extend .img-radius
  }
  
  .blog-post-header {
    font-size: 2em;
    font-weight: bold;
  }
  
  .blog-post-text {
    font-size: 1.3em;
  }

  .blog-post-body {
    margin-top: 1rem;
}

.post-header {
  font-size: 4.5rem;
  font-weight: bold;
  text-align: justify;
  
  @include for-size(medium-device) {
    font-size: 3.3rem;
    text-align: center;
  }

  @include for-size(small-device) {
      font-size: 2.5rem;
  } 
}

.post-img-fill {
  position: relative;
  width: 100%;
  height: 450px;
  margin-bottom: 3rem;
  @include for-size(small-device) {
  margin-bottom: 1rem;
    height: 350px;
} 

}

.post-subHeader{
  font-size: 3.125em;
  @include for-size(small-device) {
    font-size: 2em;
    }
}

.post-body{
  font-size: 1.813em; 
  text-align: justify;
  @include for-size(small-device) {
    font-size: 1.3em;
    }
}

.post-mb-4-sm {
  @include for-size(small-device) {
    margin-bottom: 1.5rem;
    }
}

.post-margin {
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include for-size(small-device) {
    margin-top: 1rem;
    margin-bottom: 1rem;
} 
}

.post-subsection {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  @include for-size(small-device) {
    margin-top: 1rem;
} 
}

.post-subsection-header{
  font-size: 2.5rem;
}

.post-publication{
  font-size: 1.452em;
  display:flex ;
  flex-direction: column;
  @include for-size(small-device) {
  font-size: 1.234em;
  } 
}

.post-mb-5 {
  margin-bottom: 3rem;
  @include for-size(medium-device) {
    margin-bottom: 2rem;
    } 
  @include for-size(small-device) {
    margin-bottom: 1rem;
    } 
}

.social-media{
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.author {
  font-weight: normal;
}

.post-d-t {
  font-weight: lighter;
}

.social-media-icon {
  width: 35px;
}

.copyright-footer {
  text-align: center;
  margin: 2rem 0;
}

#post-editor > form > .form-floating {
box-shadow: 0px 0px 9px 0px #0000004f;
border-radius: 10px;
margin-bottom: 3rem;
@include for-size(medium-device) {
  margin:2rem 0;
  }
@include for-size(ex-small-device) {
  
margin:2rem 0;
}
}

.sun-editor {
  box-shadow: 0px 0px 9px 0px #0000004f;
  border-radius: 10px;
  font-family: none !important;
}

.sun-editor .se-toolbar, .sun-editor .se-resizing-bar {
  border-radius: 10px;
}