@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,700");
@import "../util/mixins";

html,
body {
  font-family: "Dosis", sans-serif !important;
}

a {
  text-decoration:  none;
}

.bold {
  font-weight: bold;
}

.mt-7 {
  margin-top: 7rem !important;
}

.card {
  border: none;
  box-shadow: 0 0px 7px -4px black;
}

nav>.p-0 {
  @include for-size(medium-device) {
    padding: 0 1rem !important;
  }
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: black;
  background-color: #30bced;
}

.nav-item {
  font-size: 1.2rem;
}

.collapse.navbar-collapse>div>.dropdown>.dropdown-toggle.nav-link {
  color: black;
  font-weight: bold;
}

.collapse.navbar-collapse>.navbar-nav.ml-auto>.nav-item>.btn.btn-blue {
  @include for-size(medium-device) {
    margin-bottom: 1rem;
  }
}

nav.white-bg {
  box-shadow: 0 2px 3px -4px black;
}

.shadowlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}

.form-control {
  border-radius: 10px;
}
