@mixin for-size($size) {
  @if $size==ex-small-device {
    @media (max-width: 575.98px) {
      @content;
    }
  } @else if $size==small-device {
    @media (max-width: 767.98px) {
      @content;
    }
  } @else if $size==medium-device {
    @media (max-width: 991.98px) {
      @content;
    }
  } @else if $size==lg-device {
    @media (max-width: 1199.98px) {
      @content;
    }
  }
}

@mixin for-size-at-landscape($size) {
  @if $size==ex-small-device {
    @media (max-width: 575.98px) and (orientation: landscape) {
      @content;
    }
  } @else if $size==small-device {
    @media (max-width: 767.98px) and (orientation: landscape) {
      @content;
    }
  } @else if $size==medium-device {
    @media (max-width: 991.98px) and (orientation: landscape) {
      @content;
    }
  } @else if $size==lg-device {
    @media (max-width: 1199.98px) and (orientation: landscape) {
      @content;
    }
  }
}
